{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="Store\static\styles\style.css" rel="stylesheet" />
    <title>Улица Батырева</title>
</head>
<body bgcolor=#dee9fa>
<div class="main">
    <img src = "https://upload.wikimedia.org/wikipedia/ru/0/07/%D0%91%D0%B0%D1%82%D1%8B%D1%80%D0%B5%D0%B2_%D0%9F%D1%91%D1%82%D1%80_%D0%9C%D0%B8%D1%85%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2%D0%B8%D1%87_%D0%BF%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82.jpg" width="500" height="500">
    <h1>Улица Батырева</h1>
    <p>
        Улица Батырева находится в микрорайоне Южном<br>
        Названа в честь Пётра Михайловича Батырева<br>

    Петр Михайлович Батырев родился 1 марта 1918 года в деревне Чулпаново ныне Подольского района Московской области в семье крестьянина. Русский. Член ВКП(б) с 1944 года. Окончил школу № 2 в городе Подольске. После окончания школы ФЗУ, работал токарем на Подольском механическом заводе. В 1937 году был принят в аэроклуб.

В Красной армии с 1938 года. В ноябре 1939 года Батырев окончил Борисоглебскую военную авиационную школу пилотов и получил направление на должность младшего лётчика в один из истребительных полков. Участвовал в советско-финской войне 1939—1940 годов. После её окончания Батырев был переведён с повышением в должности на Кавказ, в один из полков, охранявших южную границу страны.

В феврале 1942 года 249-й истребительный авиаполк, в котором служил Батырев, вошёл в состав Крымского фронта. Немецкие войска штурмовали город Севастополь. В небе Крыма лётчик Батырев показал себя смелым и мужественным воином.

5 марта 1942 года четвёрка истребителей поднялась в воздух для отражения налёта противника. Батырев был ведомым у комиссара полка. Завязался воздушный бой с вдвое превосходящими силами немцев. Неожиданно Батырев заметил, что четвёрка Messerschmitt Bf.109 «насела» на самолёт комиссара. Лётчик ринулся на перехват самолётов и закрыл своей машиной самолёт комиссара. Когда Батырев вернулся на аэродром, выяснилось, что его самолёт весь изрешечён пулями, стабилизатор перекошен, повреждены другие механизмы и приборы, но жизнь комиссара была спасена.

Далее 249-й истребительный авиаполк сражался на Северном Кавказе. Множество боевых вылетов совершил Батырев главным образом на разведку передвижения моторизованных колонн, центров сосредоточения сил противника, аэродромов, переправ и других военных объектов. Не раз вступал он в воздушные бои с обнаружившими его «мессершмиттами».

В 1943 году начались тяжёлые бои на Таманском полуострове. Гитлеровцы создали, так называемую, «Голубую линию» — сильно укреплённую полосу обороны, протянувшуюся от Азовского до Чёрного моря. Необходимо было выявить главные опорные пункты сопротивления врага, сосредоточение войск и наиболее уязвимые участки его обороны.

3 октября 1943 года Батырев вылетел на разведку. Несмотря на огонь 4-х дивизионов зенитной артиллерии неприятеля, он выявил линию переднего края обороны противника, его окопы и огневые позиции. В порту Кордон обнаружил баржи и суда, на которых шла погрузка пехоты, артиллерии и автотранспорта врага. Эти данные Батырев передал на КП полка. В воздух поднялись бомбардировщики, ударили дальнобойные орудия.

Выполняя боевое задание во главе четвёрки самолётов в районе Керченского полуострова, лейтенант Батырев заметил, как группа «мессершмиттов» напала на пару истребителей соседнего полка. Не раздумывая, Батырев поспешил на помощь и длинной очередью прошил один Messerschmitt Bf.109, который, разваливаясь на куски, врезался в склон высоты.

После упорных боёв за Крым и освобождения всего полуострова, 163-й гвардейский истребительный авиаполк (бывший 249-й ИАП) перебазировался на 2-й Белорусский фронт. Летом 1944 года началась операция «Багратион» — освобождение Белоруссии и Литвы.

Батырев произвёл разведку вражеской обороны и переправ противника на реках Проня, Днепр, Березина, эшелонов врага на железной дороге Могилёв — Орша, группировки немецких войск, окружённой западнее города Шклова. В районе реки Проня он обнаружил движущиеся по дорогам 500 автомашин, до 450 телег с пехотой и грузами, 30 танков, свыше 200 орудий. Вскоре на отступающего врага с неба свалились тонны бомб и реактивных снарядов. Штурмовики с воздуха полностью разгромили огромную группировку противника, выявленную Батыревым.

К началу августа 1944 года помощник командира по воздушно-стрелковой службе 163-го гвардейского истребительного авиаполка гвардии капитан П. М. Батырев совершил 330 боевых вылетов, из них 18 на штурмовку и 212 на разведку. Участвовал в 52 воздушных боях, лично сбил 5 самолётов противника и 1 в группе.

30 сентября 1944 года Батырев при выполнении очередного боевого задания — разведки линии обороны противника в районе города Августов (ныне республика Польша) встретился в воздухе с 8-ю «мессершмиттами». Ему пришлось вступить в неравный бой. Самолёт Батырева был подбит, а сам лётчик тяжело ранен. Но, несмотря на ранение, Батырев «дотянул» повреждённый самолёт до линии фронта. Уже над своей территорией лётчик от большой потери крови потерял сознание, и его самолёт упал возле посёлка Желудок Гродненской области.

Указом Президиума Верховного Совета СССР от 23 февраля 1945 года за образцовое выполнение боевых заданий командования на фронте борьбы с немецкими захватчиками и проявленные при этом отвагу и геройство гвардии капитану Петру Михайловичу Батыреву было посмертно присвоено звание Героя Советского Союза.
    </p>
    <a href="http://127.0.0.1:8000/Street">НА ГЛАВНУЮ</a>
</div>
</body>  
<style>
.main {
    text-align: center;
    }
h1 {
    font-size:35px ;
}
p {
    margin: 20px;
margin-top: 35px;
display: block;
font-size:24px;
text-align: center;
}
a {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(116, 188, 239);
    border-radius: 100px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(40, 135, 203,.2);
    color:aliceblue
}

a:hover{
    transform: scale(1.04);
 color: azure;
 box-shadow: 0 9px 9px rgba(40, 135, 203, .5);
    
}
</style>