{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="Store\static\styles\style.css" rel="stylesheet" />
    <title>Беляев Алексей Николаевич</title>
</head>
<body bgcolor=#dee9fa>
<div class="main">
    <img src = "https://new.domod.ru/upload/iblock/98b/kmlw19sbnzsev97a8z7jo9cxorgtz7i8/belyaev-aleksey-nikolaevich.jpg" width="500" height="500">
    <h1>Беляев Алексей Николаевич</h1>
    <p>
        Беляев Алексей Николаевич родился 19 июля 1943 года в деревне Рассыльная Кромского района Орловской области. В 1960 году, после окончания средней школы, он поступил в Орловский строительный техникум, который окончил в 1963 году. Трудовую деятельность в Домодедовском районе Алексей Николаевич начал на Белостолбовском кирпичном заводе в должности механика. В ноябре 1963 года Беляев А.Н. был призван в ряды Советской Армии, после демобилизации он вернулся на Белостолбовский кирпичный завод, где продолжил трудиться механиком. Все эти годы А.Н. Беляев вел большую общественную работу: был секретарем комсомольской организации завода, три раза избирался депутатом поселкового Совета, членом Исполкома городского Совета.

Без отрыва от производства Алексей Николаевич поступил во Всесоюзный заочный инженерно-строительный институт, который успешно окончил в 1974 году, получив специальность инженера-механика.

В марте 1973 года решением Сессии поселкового Совета Алексей Николаевич Беляев был избран председателем исполкома Белостолбовского поселкового Совета. За семь лет работы в поссовете проявил себя инициативным, энергичным работником, зрелым руководителем, умеющим принимать решения, находить контакт как с руководителями предприятий и организаций, так и с населением. Он координировал работу поселкового Совета, эффективно вел организаторскую работу с депутатами, постоянными комиссиями, товарищеским судом, руководителями предприятий, общественностью, активом поселка.

Учитывая управленческий и профессиональный опыт Беляева А.Н., в мае 1980 года ему была предложена должность заместителя председателя исполкома Домодедовского городского Совета народных депутатов. Алексею Николаевичу всегда поручались самые важные и ответственные направления работы: учет и распределение жилой площади, капитальное, жилищное, социально-культурное строительство и многое другое.

До 2015 года Беляев А.Н. как заместитель руководителя администрации курировал вопросы строительства, транспорта, дорожного хозяйства, связи, реконструкции и капитального ремонта социальных объектов и сооружений энергетики, газификации, архитектуры и градостроительства. С апреля 2015 года стал курировать вопросы жилищно-коммунального хозяйства.

Для городского округа Домодедово, строительная отрасль, курируемая А.Н. Беляевым, всегда являлась одной из приоритетных. В 2006 году городской округ Домодедово первым в России принял, а в 2009 и 2012 годах произвел корректировку своего Генерального плана.

Под руководством и при непосредственном участии Алексея Николаевича Беляева на территории городского округа Домодедово также построено около миллиона квадратных метров социальных и производственных объектов.

С 2015 году Алексей Николаевич стал курировать отрасль жилищно-коммунального хозяйства. Алексей Николаевич – требовательный руководитель, человек с большим кругозором и практическим опытом, в округе практически нет сферы деятельности, в которой бы он ни принимал самое живое участие. Много лет назад он удостоен почетного звания «Заслуженный строитель Российской Федерации».

За 53 года добросовестного служения Домодедовской земле, в том числе 43 года руководящей работы в органах местной власти, Алексей Николаевич Беляев заслужил высокий авторитет и уважение у населения округа, руководителей предприятий и организаций, вышестоящих структур. Он всегда находит общий язык с людьми, неравнодушно относится к проблемам жителей, к нему приходят за помощью и советом, зная, что вопросы не останутся без внимания и будут решены.

Беляеву А.Н. присущи высокая требовательность к себе и подчиненным, хорошие организаторские способности, профессионализм, компетентность, оперативность в решении вопросов, выдержка, ответственность за порученное дело, высокая работоспособность, коммуникабельность, активная жизненная позиция.

В настоящее время А.Н. Беляев вышел на заслуженный отдых.

Алексей Николаевич Беляев – патриот Отечества, Подмосковья и Домодедовского округа.
    </p>
    <a href="http://127.0.0.1:8000/People">НА ГЛАВНУЮ</a>
</div>
</body>  
<style>
.main {
    text-align: center;
    }
h1 {
    font-size:35px ;
}
p {
    margin: 20px;
margin-top: 35px;
display: block;
font-size:24px;
text-align: center;
}
a {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(116, 188, 239);
    border-radius: 100px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(40, 135, 203,.2);
    color:aliceblue
}

a {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(116, 188, 239);
    border-radius: 100px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(40, 135, 203,.2);
    color:aliceblue
}

a:hover{
    transform: scale(1.04);
 color: azure;
 box-shadow: 0 9px 9px rgba(40, 135, 203, .5);
    
}
</style>