{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="Store\static\styles\style.css" rel="stylesheet" />
    <title>Домодедовская школа №12</title>
</head>
<body bgcolor=#dee9fa>
<div class="main">
    <img src = "https://avatars.mds.yandex.net/get-altay/4971637/2a0000017e7c41e6c35351ffbf0d127221c5/XXXL" width="500" height="500">
    <h1>Домодедовская средняя<br>
        общеобразовательная школа №12<br>
        имени полного кавалера<br>
         ордена Славы В.Д. Преснова</h1>
    <p>
        
        МАОУ Домодедовская Средняя общеобразовательная школа №12.<br>
         Находится в г.о. Домодедово, село Домодедово, Высотная, 4.<br>
         <br>

        Основана была  31 июля 2019 года<br>
        <br>

        Домодедовская средняя общеобразовательная школа №12 названа в честь Полного кавалера ордена Славы Владимира Дмитриевича Преснова<br>
        

        
    </p>
   <img src = "https://sun9-78.userapi.com/impg/Uef2zsZ_BjAguid-2r3losFQ_hIkUYLw4kYT_g/_nMSUnQl5B8.jpg?size=331x498&quality=95&sign=0c45adab93266968b6483fc29c3f90b0&c_uniq_tag=qVbhw5dJZrhs8RWDI5tk3lS-21mKFGOQwxcv9fhM5dU&type=album" width="500" height="500">
    <h1>Владимир Дмитриевич Преснов</h1>
    <p>
        Владимир Дмитриевич Преснов (1925–2003) — советский гвардии старший сержант, полный кавалер Ордена Славы. 

        Родился в селе Домодедово Домодедовского района Московской области. С 1940 года работал слесарем-сборщиком в Московском электрообъединении, после начала войны — в колхозе села Домодедово. 
    
        С 1943 года был призван в ряды РККА. После окончания школы миномётчиков в городе Клин был направлен в действующую армию — командир расчёта миномётной батареи 3-го мотострелкового батальона. Участвовал в Корсунь-Шевченковской, Уманско-Ботошанской и Ясско-Кишинёвской операции. 
        
        В конце августа 1944 года, отбивая контратаки противника на дальних подступах к городу Орадеа-Маре в Румынии, вместе со своим расчётом уничтожил более пятнадцати вражеских солдат и подавил две пулемётные точки. За это 26 октября 1944 года Указом Президиума Верховного Совета СССР Преснов был награждён Орденом Славы 3-й степени. 
        
        15 сентября 1944 года Преснов со своим расчётом в районе города Турда вывел из строя противотанковую пушку и поразил свыше десяти пехотинцев. 6 января 1945 года Указом Президиума Верховного Совета СССР Преснов был награждён Орденом Славы 3-й степени. 18 июля 1994 года приказом министра обороны России это награждение было отменено и Преснов был перенаграждён Орденом Славы 1-й степени. 
        
        26 апреля 1945 года Преснов в период боёв за город Брно в Чехии в составе миномётной батареи сосредоточенным огнём накрыл вражескую колонну. 
        
        В начале 1946 года Преснов демобилизовался и вернулся в родное село, устроившись в колхоз. В нём он проработал более 40 лет. 
        
        Герой Великой Отечественной войны скончался 17 мая 2003 года, его похоронили на кладбище села Домодедово
        </p>
    <a href="http://127.0.0.1:8000/School">НА ГЛАВНУЮ</a>
</div>
</body>  
<style>
.main {
    text-align: center;
    }
h1 {
    font-size:35px ;
}
p {
    margin: 20px;
margin-top: 35px;
display: block;
font-size:24px;
text-align: center;
}
a {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(116, 188, 239);
    border-radius: 100px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(40, 135, 203,.2);
    color:aliceblue
}

a:hover{
    transform: scale(1.04);
 color: azure;
 box-shadow: 0 9px 9px rgba(40, 135, 203, .5);
    
}
</style>