{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="Store\static\styles\style.css" rel="stylesheet" />
    <title>Еромасов Владимир Павлович</title>
</head>
<body bgcolor=#dee9fa>
<div class="main">
    <img src = "https://static.tildacdn.com/tild3661-6336-4735-b137-663364653137/07181357-gigapixel-l.png" width="500" height="500">
    <h1>Еромасов Владимир Павлович</h1>
    <p>
        Владимир Павлович Еромасов родился 16 августа 1926 года в местечке Райково Вичугского района Ивановской области.

Более 40 лет Владимир Павлович трудился в Домодедовском округе, тринадцать лет из которых служил в войсковой части 11282 в должности первого заместителя командира части – главного инженера. С 1979 по 1992 год трудился заместителем генерального директора ПШО «Орел», начальником штаба гражданской обороны. С января 2001 по апрель 2005 работал начальником штаба ГО МУП «Домодедово-Жилсервис».

Его жизнь неотделима от общественной работы, в которую он вкладывал всю душу и сердце. Везде и во всем Владимир Павлович – пример для окружающих, требовательный к себе, выдержанный, ответственный, готовый к самопожертвованию и неимоверному труду человек.

С 1973 по 1984 год избирался депутатом Городского Совета депутатов, 9 лет возглавлял Наблюдательную комиссию при Горисполкоме.

В течение 15 лет Владимир Павлович Еромасов возглавлял Домодедовскую районную организацию Российского Союза офицеров запаса, которая под его руководством стала одной из лучших организаций в Московской региональной организации и в Российском Союзе офицеров запаса.

С 1995 года был членом Президиума Совета ветеранов района, в 2004 году избран первым заместителем председателя Совета. Он являлся активным членом Президиума Московской областной организации ветеранов войны и военной службы, плодотворно работал в Совете общественной палаты городского округа Домодедово.

Как в годы безупречной воинской службы, которой он в целом посвятил 35 лет, так и в мирной деятельности, полковник Еромасов зарекомендовал себя принципиальным, умелым, энергичным, требовательным к себе и подчиненным руководителем, настоящим офицером, патриотом, профессионалом высокого класса, кропотливо и настойчиво работающим над собой, постоянно повышающим свой профессиональный уровень.

Он был наделен даром верно и настойчиво добиваться оптимального результата в любой работе.

Владимир Павлович всегда был полон энтузиазма, сил, душевной человеческой теплоты, чуткости и интеллигентности, неустанно заботился как о ветеранах Вооруженных Сил, так и о молодом поколении, которому передавал свой богатый опыт.

Каждый человек, обратившийся к В. П. Еромасову, всегда получал помощь и поддержку, находил сочувствие и понимание, он уделял решению его вопроса самое пристальное внимание. Неустанная забота Владимира Павловича о социальном благополучии ветеранов, улучшении условий их жизни, помощь в решении бытовых, житейских проблем неоценимы.

Владимир Павлович пользовался заслуженным и непререкаемым авторитетом и уважением Союза офицеров, районного и областного Советов ветеранов, руководителей предприятий и организаций, местных органов управления городского округа.

Владимир Павлович был увлеченным человеком, интересным собеседником, любил искусство, книгу, природу, жизнь.

Еромасов В. П. - участник Парада Победы на Красной Площади г. Москвы 24 июня 1945 года. Награжден 18 правительственными наградами.

За большой личный вклад в военно-патриотическое воспитание молодежи, активную общественную деятельность и в связи с 60-летием образования города Домодедово Еромасову В. П. присвоено звание «Почетный гражданин города Домодедово».

Владимир Павлович скончался 27 сентября 2007 года.
    </p>
    <a href="http://127.0.0.1:8000/People">НА ГЛАВНУЮ</a>
</div>
</body>  
<style>
.main {
    text-align: center;
    }
h1 {
    font-size:35px ;
}
p {
    margin: 20px;
margin-top: 35px;
display: block;
font-size:24px;
text-align: center;
}
a {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(116, 188, 239);
    border-radius: 100px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(40, 135, 203,.2);
    color:aliceblue
}

a:hover{
    transform: scale(1.04);
 color: azure;
 box-shadow: 0 9px 9px rgba(40, 135, 203, .5);
    
}
</style>