{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="Store\static\styles\style.css" rel="stylesheet" />
    <title>Улица Гоголя</title>
</head>
<body bgcolor=#dee9fa>
<div class="main">
    <img src = "https://upload.wikimedia.org/wikipedia/commons/b/b2/N.Gogol_by_F.Moller_%281840%2C_Tretyakov_gallery%29.jpg" width="500" height="500">
    <h1>Улица Гоголя</h1>
    <p>
        Улица Гоголя находится в районе Белые Столбы<br>
        Названа в честь Николая Васильевича Гоголя<br>
        Николай Васильевич Гоголь (20 марта (1 апреля) 1809, местечко Великие Сорочинцы Миргородского уезда Полтавской губернии, ныне Полтавская область, Украина — 21 февраля (4 марта) 1852, Москва) — русский писатель, драматург, публицист. 

Детство и юность.  Гоголь родился в семье помещика среднего достатка. Детские годы провёл в родительском имении Васильевка (другое название — Яновщина, происходящее от фамилии владельца — Гоголь-Яновский). 

Образование.  В 1818–1819 годах Гоголь обучался в Полтавском поветовом (уездном) училище.  В 1820–1821 годах брал уроки у полтавского учителя Гавриила Сорочинского. В 1821–1828 годах учился в Гимназии высших наук в Нежине (Черниговская губерния, ныне — Черниговская область Украины). 

В 1829 году Гоголь переехал в Санкт-Петербург. Поступил на службу в Департамент государственного хозяйства и публичных зданий Министерства внутренних дел. С 1830 года работал в Департаменте уделов писцом, затем — помощником столоначальника. В 1831–1835 годах — младший учитель истории в Патриотическом институте (учебное заведение для дочерей военнослужащих). В 1834–1835 годах Николай Гоголь являлся адъюнкт-профессором по кафедре всеобщей истории Петербургского университета. 

Литературное творчество. Первый литературный опыт Николая Гоголя относится ко времени обучения в Нежинской Гимназии высших наук. В 1825–1827 годах он написал стихотворение «Новоселье», повесть «Братья Твердиславичи», сатиру «Нечто о Нежине, или Дуракам закон не писан», стихотворную балладу «Две рыбки» и др.. В 1829 году, переехав в Санкт-Петербург, под псевдонимом В. Алов выпустил поэму «Ганц Кюхельгартен». Она получила негативную оценку критики, после чего автор выкупил и сжёг все нераспроданные экземпляры. 

Литературную известность Гоголю принёс сборник повестей «Вечера на хуторе близ Диканьки» (опубл. 1831–1832). В 1835 году писатель выпустил сборники «Арабески» и «Миргород», утвердившие его в качестве одного из ведущих писателей России. 

Вершиной драматургического творчества Гоголя стала комедия «Ревизор», вышедшая в 1836 году и тогда же поставленная в Александринском театре Санкт-Петербурга. Пьеса получила широкую популярность. 

В 1836–1848 годах Николай Гоголь проживал и работал за границей. В 1842 году в России был опубликован первый том романа-поэмы «Мёртвые души». На его страницах Гоголь представил панораму жизни российской глубинки, создал галерею ярких образов, поднял вопросы о социальном и духовном развитии общества. 

В 1847 году писатель выпустил публицистический сборник «Выбранные места из переписки с друзьями», в котором в дидактической форме стремился указать русскому обществу путь к духовно-нравственному обновлению. 

В 1848 году после паломничества в Иерусалим Гоголь вернулся на родину и продолжил литературную деятельность. 

В конце жизни Николай Гоголь страдал от нервного расстройства. В ночь с 11 на 12 февраля 1852 года, находясь в болезненном состоянии, сжёг рукописи подготовленного к печати второго тома «Мёртвых душ». 

Скончался 4 марта 1852 года в Москве на 43-м году жизни. Был похоронен на кладбище Данилова монастыря. В 1931 году, вскоре после закрытия монастыря, останки писателя перенесли на Новодевичье кладбище.
    </p>
    <a href="http://127.0.0.1:8000/Street">НА ГЛАВНУЮ</a>
</div>
</body>  
<style>
.main {
    text-align: center;
    }
h1 {
    font-size:35px ;
}
p {
    margin: 20px;
margin-top: 35px;
display: block;
font-size:24px;
text-align: center;
}
a {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(116, 188, 239);
    border-radius: 100px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(40, 135, 203,.2);
    color:aliceblue
}

a:hover{
    transform: scale(1.04);
 color: azure;
 box-shadow: 0 9px 9px rgba(40, 135, 203, .5);
    
}
</style>