{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="Store\static\styles\style.css" rel="stylesheet" />
    <title>Челики</title>
     
</head>
        <body bgcolor=#dee9fa >
            <div class="main">
                <div class="outher">
                    <div class="conteiner">
                        <img src = "https://pp.userapi.com/c630728/v630728485/36e75/LRC2XWrsxKw.jpg" width="300" height="250">
                        <p>Баяк Анатолий<br>
                             Адамович</p>
                        <a href="">Полная информация</a>
                </div>
                <div class="conteiner">
                    <img src = "https://new.domod.ru/upload/iblock/98b/kmlw19sbnzsev97a8z7jo9cxorgtz7i8/belyaev-aleksey-nikolaevich.jpg" width="300" height="250">
                    <p>Беляев Алексей<br>
                         Николаевич </p>                 
                    <a href="">Полная информация</a>
            </div>
            <div class="conteiner">
                <img src = "https://pp.vk.me/c630728/v630728485/36e96/Alat7Tlg6qM.jpg" width="300" height="250">
                <p>Блинов Вячеслав<br>
                    Алексеевич</p>
                <a href="">Полная информация</a>
            </div>
    </div>
                <div class="outher">
                    <div class="conteiner">
                        <img src = "https://new.domod.ru/upload/iblock/6cf/py408yrvlumilnmv034zmg2q8p70jg3b/volkov-nikolay-viktorovich.jpg" width="300" height="250">
                        <p> Волков Николай<br>
                             Викторович</p>
                        <a href="">Полная информация</a>
                </div>
                <div class="conteiner">
                    <img src = "https://cdnn21.img.ria.ru/images/15022/16/150221652_0:0:0:0_600x0_80_0_0_0efe1d69b9bba68344fed8b6f8ff972f.jpg" width="300" height="250">
                    <p>Галкина Любовь<br>
                       Владимировна </p>
                    <a href="">Полная информация</a>
            </div>
            <div class="conteiner">
                <img src = "https://static.tildacdn.com/tild3632-3633-4638-b833-376363313261/medium_Glazov_Mihail.jpg" width="300" height="250">
                <p>Глазов Михаил<br>
                     Дмитриевич</p>
                <a href="">Полная информация</a>
            </div>
    </div>
            </div>


        </body>
</html>


<style>
    p {
    font-size: 24px;
    font-style: italic;
}
a {
    font-size: 24px;
    font-style: italic;
    background-color: rgb(162, 204, 252);
}
.conteiner {
       margin: 20px;
       margin-top: 35px;
       display: inline-block;
       text-align: center;
       background-color: rgb(199, 246, 242);
}
.main {
    text-align: center;
}


</style>
       