{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="Store\static\styles\style.css" rel="stylesheet" />
    <title>Ковалевский Леонид Павлович</title>
</head>
<body bgcolor=#dee9fa>
<div class="main">
    <img src = "https://www.domod.ru/upload/iblock/0ed/v6tkbuf5sis3yjmpf5ndnyplexidps7t/photo1693042241.jpeg" width="500" height="500">
    <h1>Ковалевский Леонид Павлович</h1>
    <p>
        Ковалевский Леонид Павлович родился 1 января 1951 года в селе Ошитки Киево-Святошинского района Киевской области.

В 1981 году закончил Всесоюзный заочный юридический институт по специальности «правоведение», в 1995 - Российскую академию государственной службы при Президенте Российской Федерации.

С 1971 года Л.П. Ковалевский живет и работает в Домодедово. Прибыв молодым специалистом в Домодедовский объединенный авиаотряд, Леонид Павлович проявил незаурядные деловые и политические качества руководителя и лидера молодежного движения. В 1977-80 годах - второй, затем первый секретарь ГКВЛКСМ.

В декабре 1991 года Постановлением Главы администрации Московской области Л.П. Ковалевский назначен Главой администрации Домодедовского района.

С марта 1996 года Л.П. Ковалевский - всенародно избранный Глава Домодедовского района, а с сентября 2005 по февраль 2017 года - Глава городского округа Домодедово.

За 28 лет руководства округом Л.П. Ковалевский награжден правительственными и высокими ведомственными наградами, среди которых - орден Почета и орден Ивана Калиты, множество грамот и благодарностей, награды Русской Православной Церкви.

За большой вклад в социально-экономическое развитие Московской области Леонид Павлович награжден знаками Губернатора Московской области «За заслуги перед Московской областью», «За труды и усердие», «За безупречную службу», «За полезное», «Благодарю».

Под руководством Л.П. Ковалевского экономика городского округа Домодедово за последние 10 лет выросла в 10 раз, созданы благоприятные условия для частных инвесторов, а темпы экономического развития в Домодедово самые высокие в области.

При непосредственном участии Леонида Павловича в Домодедово построены один из первых в области переездов над железной дорогой в микрорайоне Белые Столбы и объездная дорога вокруг микрорайона Авиационный, строится развязка от ТЦ «Карусель»  до д. Киселиха. 

С 2004 года в округе работает  программа по сносу ветхого жилья.

Огромный управленческий и профессиональный опыт, компетентность, активная жизненная позиция, доброжелательный и приветливый характер, простота и скромность завоевали  уважение и авторитет у жителей и руководителей округа и области.

В течение многих лет Л.П. Ковалевский является сопредседателем Ассоциации глав городов и районов Московской области, членом Высшего Совета при Губернаторе Московской области, Вице-президентом Ассоциации малых и средних городов России. Входил в Совет органов местного самоуправления при Правительстве Российской Федерации. В качестве эксперта Государственной Думы Леонид Павлович неоднократно участвовал в разработке новых законов.

Лауреат Всероссийского проекта «Эффективное управление кадрами». Лауреат конкурса «Лучший муниципальный служащий России». Член- корреспондент Академии общественных наук Российской Федерации.

Женат. Имеет двоих дочерей.

Любит театр, серьезные книги, поэзию, авторскую песню, увлекательные путешествия. Радиолюбитель международного класса, член Президиума Федерации радиоспорта России.
    </p>
    <a href="http://127.0.0.1:8000/People">НА ГЛАВНУЮ</a>
</div>
</body>  
<style>
.main {
    text-align: center;
    }
h1 {
    font-size:35px ;
}
p {
    margin: 20px;
margin-top: 35px;
display: block;
font-size:24px;
text-align: center;
}
a {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(116, 188, 239);
    border-radius: 100px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(40, 135, 203,.2);
    color:aliceblue
}

a:hover{
    transform: scale(1.04);
 color: azure;
 box-shadow: 0 9px 9px rgba(40, 135, 203, .5);
    
}
</style>