{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="Store\static\styles\style.css" rel="stylesheet" />
    <title>Рагимов Ализаман Сабир оглы</title>
</head>
<body bgcolor=#dee9fa>
<div class="main">
    <img src = "https://www.shahriyar.ru/sites/default/files/images/Ragimov_AS_0.jpg" width="500" height="500">
    <h1>Рагимов Ализаман Сабир оглы</h1>
    <p>
        Удивителен путь Рагимова Ализамана Сабир оглы от простого подсобного рабочего до директора фирмы, фактически строящего наш город. Ализаман Сабир оглы имеет ученое звание кандидат экономических наук.

Строительная фирма Гюнай» принимает активное участие в инвестировании и строительстве многоквартирных жилых домов, объектов инфраструктуры и инженерных сетей в городском округе Домодедово.

На протяжении 15 лет ООО ПКФ «Гюнай» успешно реализует программу ликвидации ветхого жилого фонда, переселяет граждан из ветхого и аварийного жилья в благоустроенные квартиры.

В рамках инвестиционного контракта фирма «Гюнай» строит многоэтажные жилые дома, школы, детские сады, инженерные объекты.

На собственные средства фирма «Гюнай» построила детский сад «Муравей» и пристройку к школе № 4 для начальных классов в мкр. Северный, православный храм имени святых благоверных князя Петра и княгини Февронии и административное здание в парке «Елочки».

Введены в эксплуатацию торговый центр «Стайер», жилой дом по ул. Энергетиков и по ул. Ломоносова с пристроенным трехэтажным зданием детского технического творчества «Эко-Дом» и встроенными помещениями для библиотеки №1, жилой дом по ул. Гагарина с встроенными помещениями для Дома детско-юношеского творчества «Эврика», жилой дом с встроенным помещением для музыкальной школы и детский сад «Дельфин» в мкр. Авиационный, блок начальных классов в микрорайоне Центральный по ул. Корнеева, пристройка к многоэтажному жилому дому № 40 по ул. Текстильщиков для дома детско-юношеского технического творчества «Лира», участковая сельская поликлиника в поселке Ям и жилой дом по ул. Каширское шоссе.

Наряду с выполнением инвестиционного контракта генеральным директором Рагимовым А.С.о уделяется большое внимание благотворительной деятельности.

Ежегодно на постоянной основе оказывается материальная помощь ветеранам войны и труда, воинам-интернационалистам, участникам боевых действий в горячих точках на территории России, детям детских садов и приютов городского округа Домодедово.

Рагимов Ализаман Сабир оглы дважды избирался депутатом Совета депутатов городского округа Домодедово.

Рагимов Ализаман Сабир оглы награжден многими правительственными наградами, имеет почетные звания: «Почетный строитель России», Заслуженный строитель Российской Федерации», «Заслуженный строитель Московской области», «Отличник строительства Подмосковья».

За свою деятельность, направленную на благо людей в Подмосковье, Рагимов А.С.о заслужил большой авторитет и уважение у соотечественников, руководителей органов местного самоуправления.

За выдающийся вклад в экономическое и социальное развитие городского округа Домодедово и в связи с 50-летием образования Домодедовского района решением Совета депутатов городского округа Домодедово от 09 августа 2019 года № 1-4/983 «О присвоении звания «Почетный гражданин городского округа Домодедово» Рагимову Ализаману Сабир оглы, генеральному директору ООО ПФК «Гюнай», депутату Совета депутатов городского округа Домодедово, присвоено звание «Почетный гражданин городского округа Домодедово».
    </p>
    <a href="http://127.0.0.1:8000/People">НА ГЛАВНУЮ</a>
</div>
</body>  
<style>
.main {
    text-align: center;
    }
h1 {
    font-size:35px ;
}
p {
    margin: 20px;
margin-top: 35px;
display: block;
font-size:24px;
text-align: center;
}
a {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(116, 188, 239);
    border-radius: 100px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(40, 135, 203,.2);
    color:aliceblue
}

a:hover{
    transform: scale(1.04);
 color: azure;
 box-shadow: 0 9px 9px rgba(40, 135, 203, .5);
    
}
</style>