{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="Store\static\styles\style.css" rel="stylesheet" />
    <title>Раткин Владимир Густавович</title>
</head>
<body bgcolor=#dee9fa>
<div class="main">
    <img src = "https://avatars.mds.yandex.net/i?id=b8422b015900dab0919249894884d1c304dc6995-10636447-images-thumbs&n=13" width="500" height="500">
    <h1>Раткин Владимир Густавович</h1>
    <p>
        Владимир Густавович Раткин – первый секретарь Домодедовского ГК КПСС (10.06.1969 – 07.06.1981). Все нити политического руководства в то время были сосредоточены в руках первого секретаря. Этот человек создавал Домодедовский район.

Раткин В. Г. родился 14 июня 1932 года в городе Химки Московской области в семье интеллигентов.

Во время Великой Отечественной войны семья находилась в эвакуации в г.Канск Красноярского края. Там Владимир Густавович закончил среднюю школу и в 1950 году поступил в Московский институт механизации и электрификации сельского хозяйства им. В.П.Горячкина.

Трудовая биография Раткина Владимира Густавовича заслуживает огромного уважения. Свой трудовой путь 1955 году он начал в качестве инженера-механика-контролера.

Но, уже в декабре 1956 года он был избран II секретарем Ногинского ГК ВЛКСМ, а затем первым секретарем Ногинского ГК ВЛКСМ.

Хотя Владимир Густавович и не является уроженцем Домодедовского района, но сотни домодедовцев по праву и с гордостью считают себя его учениками. Благодаря ему был заложен фундамент и возведены крепкие стены нашего общего дома – городского округа Домодедово. На первом месте у Раткина В.Г. всегда стояли интересы города и района. Именно он подобрал и воспитал основной кадровый состав, который обеспечил нашему району успешное развитие и дал возможность по экономическим показателям войти в число лучших регионов Подмосковья.

В те годы в полной мере раскрылся потенциал прекрасных профессиональных качеств Владимира Густавовича. Трудно представить на этом месте более достойного человека. Его опыт, всесторонняя профессиональная подготовленность, компетентность, информированность о работе каждой отрасли народного хозяйства района, творческая энергия, активная жизненная позиция помогли осуществить весь широкий спектр обязанностей, которые были на него возложены.

За многолетний и добросовестный труд В.Г.Раткин удостоился множеством наград. Он награжден орденами «Знак Почета» в 1971 году, «Трудового Красного Знамени» в 1973 году и «Октябрьской Революции» в 1979 году, медалью «50 лет РОССНАА», а также наградами Монгольской Народной Республики и Лаосской Народно-Демократической Республики.

На каком бы поприще ни трудился Владимир Густавович, всегда рядом с ним собиралась могучая рать сподвижников и единомышленников. Руководитель, которому было дано предугадать и выбрать приоритетное направление развития района, отдавать этому максимум сил, времени, энтузиазма, умение зажечь своей энергией и убежденностью всех работающих – эти качества в полной мере присущи Владимиру Густавовичу Раткину. Раткин В.Г. – руководитель, заработавший свой авторитет реальными делами, реальным успехом.

Недаром его деятельность неотделима от многогранной общественной деятельности. Владимир Густавович являлся первым вице-президентом Ассоциации культурного и делового сотрудничества с Лаосом.

В связи с 65-летием образования г.Домодедово Совет депутатов городского округа решил присвоить звание «Почетный гражданин городского округа Домодедово» Раткину Владимиру Густавовичу.

Владимир Густавович скончался 15 марта 2019 года.
    </p>
    <a href="http://127.0.0.1:8000/People">НА ГЛАВНУЮ</a>
</div>
</body>  
<style>
.main {
    text-align: center;
    }
h1 {
    font-size:35px ;
}
p {
    margin: 20px;
margin-top: 35px;
display: block;
font-size:24px;
text-align: center;
}
a {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(116, 188, 239);
    border-radius: 100px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(40, 135, 203,.2);
    color:aliceblue
}

a:hover{
    transform: scale(1.04);
 color: azure;
 box-shadow: 0 9px 9px rgba(40, 135, 203, .5);
    
}
</style>