{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="Store\static\styles\style.css" rel="stylesheet" />
    <title></title>
</head>
<body bgcolor=#dee9fa>
<div class="main">
    <img src = "" width="500" height="500">
    <h1></h1>
    <p>
        <br>
        <br>

        <br>
        <br>


        
    </p>
    <img src = "" width="500" height="500">
    <h1></h1>
    <p>
        
    </p>
    <a href="http://127.0.0.1:8000/Street">НА ГЛАВНУЮ</a>
</div>
</body>  
<style>
.main {
    text-align: center;
    }
h1 {
    font-size:35px ;
}
p {
    margin: 20px;
margin-top: 35px;
display: block;
font-size:24px;
text-align: center;
}
a {
    font-size: 24px;
    font-style: italic;
    background-color: rgb(162, 204, 252);
}
</style>
<h1>Добро пожаловать!</h1>
<br>
<h2>Что вы сможете здесь найти?</h2><br>
<div class="images">

    <img src='https://cdn-icons-png.flaticon.com/128/18868/18868522.png' width="200" height="200">
    <h3>Почётные граждане<br>
         Домодедово</h3>
        </div>
        <div class="images">

            <img src='https://cdn-icons-png.flaticon.com/128/18240/18240881.png' width="200" height="200">
            <h3>В честь кого<br>
            названы улицы</h3>
        </div>
        <div class="images">

            <img src='https://cdn-icons-png.flaticon.com/128/18280/18280716.png' width="200" height="200">
            <h3>В честь кого<br>
                названы школы</h3>
        </div>