{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="Store\static\styles\style.css" rel="stylesheet" />
    <title>Шокуров Владимир Викторович</title>
</head>
<body bgcolor=#dee9fa>
<div class="main">
    <img src = "https://avatars.mds.yandex.net/i?id=e86daff780eadc28eddb04d439b18b8a_sr-3322855-images-thumbs&n=13" width="500" height="500">
    <h1>Шокуров Владимир Викторович</h1>
    <p>
        Сегодняшнее лицо Домодедово – это красивые, функциональные, максимально комфортные для труда и отдыха современные здания, каждое из которых повторяет стиль и «почерк» строительной компании ЗАО «Мособлстройтрест №11», руководит которой Владимир Викторович Шокуров.

Шокуров Владимир Викторович прошел путь от мастера до генерального директора ЗАО «Мособлстройтрест №11».

Главное достоинство жилых домов последнего поколения, построенных ЗАО «Мособлстройтрест №11», – их архитектурное своеобразие, улучшенная планировка квартир, максимальное применение экологически чистых материалов, исполнение несущих и ограждающих конструкций стен из кирпича.

Украшают город Домодедово спортивный комплекс, построенный трестом № 11, с крытым катком «Легенда», один из лучших на сегодняшний день не только в области, но и в столице, оригинальное здание ЗАГСа в парке «Елочки», детский сад «Пчелка» и «Ромашка», монолитный комплекс с нежилыми помещениями «Кировский» в центре города, жилой комплекс «Любимое Домодедово» и школа № 8 в микрорайоне «Западный», комплекс жилых домов «Атлант», инфекционное отделение больницы, в подарок городу построен многофункциональный центр для обслуживания населения и много других жилых и социальных объектов.

В городе Видное Ленинского района трестом построено уникальное пятиэтажное многоуровневое, в форме неправильного треугольника, здание детской школы искусств.

Большое внимание ЗАО «Мособлстройтрест №11» уделяет благотворительной деятельности, направленной на поддержание школ № 2, № 5, Детской юношеской спортивной школы города Домодедово.

Шокуров Владимир Викторович трижды избирался депутатом Совета депутатов городского округа Домодедово. Первоочередными задачами депутат Шокуров В.В. считает отстаивание интересов своих избирателей, улучшение условий их жизни.

Шокуров Владимир Викторович имеет правительственные награды, среди которых почетные звания: «Заслуженный строитель Российской Федерации», «Почетный строитель России», «Почетный строитель Московской области».

Авторитет Шокурова В.В. высок и заслужен. Он является руководителем современного типа, ему дано предугадать и выбрать приоритетное направление развития строительного производства. Владимир Викторович обладает большими организаторскими способностями, требователен к себе и подчиненным, живет интересами коллектива и городского округа Домодедово.

За выдающийся вклад в экономическое и социальное развитие городского округа Домодедово и в связи с 50-летием образования Домодедовского района решением Совета депутатов городского округа Домодедово от 09 августа 2019 года № 1-4/983 «О присвоении звания «Почетный гражданин городского округа Домодедово» Шокурову Владимиру Викторовичу – генеральному директору ЗАО «Мособлстройтрест-11», депутату Совета депутатов городского округа Домодедово, присвоено звание «Почетный гражданин городского округа Домодедово».
    </p>
    <a href="http://127.0.0.1:8000/People">НА ГЛАВНУЮ</a>
</div>
</body>  
<style>
.main {
    text-align: center;
    }
h1 {
    font-size:35px ;
}
p {
    margin: 20px;
margin-top: 35px;
display: block;
font-size:24px;
text-align: center;
}
a {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(116, 188, 239);
    border-radius: 100px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(40, 135, 203,.2);
    color:aliceblue
}

a:hover{
    transform: scale(1.04);
 color: azure;
 box-shadow: 0 9px 9px rgba(40, 135, 203, .5);
    
}
</style>