{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="Store\static\styles\style.css" rel="stylesheet" />
    <title>Волков Николай Викторович</title>
</head>
<body bgcolor=#dee9fa>
<div class="main">
    <img src = "https://new.domod.ru/upload/iblock/6cf/py408yrvlumilnmv034zmg2q8p70jg3b/volkov-nikolay-viktorovich.jpg" width="500" height="500">
    <h1>Волков Николай Викторович</h1>
    <p>
        Волков Николай Викторович родился 22 сентября 1959 года в деревне Павловка Колпнянского района Орловской области. С 1987 года его трудовая деятельность связана с Домодедовским районом. Он прошел путь от инженера-наладчика до директора компании электроснабжения. Как руководитель Муниципального унитарного предприятия «Электросеть» (1997-2017 гг.) Николай Викторович организовывал деятельность компании, контролировал работы по ремонту и реконструкции электрических сетей, техническому перевооружению и модернизации оборудования подстанций. За время его руководства построены трансформаторные подстанции, обновлен устаревший автопарк на новые современные виды техники.

        С января 2018 года по настоящее время Волков Николай Викторович – директор филиала акционерного общества «Московская областная энергосетевая компания» Домодедовские электрические сети (Домодедовский филиал АО «Мособлэнерго»). В зону обслуживания Домодедовского филиала входят 8 муниципальных образований с общей численностью населения около 1 миллиона человек. Численный состав филиала – 686 работников и 145 единиц различной техники. Своим руководством обеспечил динамичное развитие производства, внес значительный вклад в обеспечение бесперебойного энергоснабжения потребителей и развитие электросетевого хозяйства Московской области. В 2020 и 2022 годах Домодедовский филиал стал «Лучшим филиалом» АО «Мособлэнерго» по результатам работы среди десяти филиалов.
        
        С 2007 года Волков Н.В. избирается депутатом Совета депутатов городского округа Домодедово. Авторитет Николая Викторовича высок и заслужен. Его знают и уважают не только в городском округе, но и за его пределами. Высокая работоспособность, требовательность к себе и подчиненным, неравнодушное отношение к проблемам жителей городского округа снискали ему большой авторитет в коллективе и среди жителей.
        
        С первых дней специальной военной операции Николай Викторович оказывает всестороннюю помощь, как жителям, так и участникам СВО, уделяет максимальное внимание семьям военнослужащих.
        
        Волков Н.В. имеет множество правительственных наград, а также почетные знаки: «За труды», «За трудовую доблесть», «За верность Подмосковью». Имеет почетные звания: «Заслуженный работник ЖКХ Московской области», «Заслуженный энергетик Российской Федерации». За выдающийся вклад в развитие городского округа Домодедово и в связи с 55-летием образования Домодедовского района решением Совета депутатов городского округа Домодедово Волкову Николаю Викторовичу присвоено звание «Почетный гражданин городского округа Домодедово».
    </p>
    <a href="http://127.0.0.1:8000/People">НА ГЛАВНУЮ</a>
</div>
</body>  
<style>
.main {
    text-align: center;
    }
h1 {
    font-size:35px ;
}
p {
    margin: 20px;
margin-top: 35px;
display: block;
font-size:24px;
text-align: center;
}
a {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(116, 188, 239);
    border-radius: 100px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(40, 135, 203,.2);
    color:aliceblue
}

a:hover{
    transform: scale(1.04);
 color: azure;
 box-shadow: 0 9px 9px rgba(40, 135, 203, .5);
    
}
</style>